.user-table__container {
  position: relative;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 3px 5px 20px 0px #0000000a;
  border: 1px solid #213f7d0f;
  border-radius: 4px;
  margin-top: 40px;
  padding: 16px;

  th,
  td {
    text-align: left;
  }
  td {
    padding: 18px 24px;
  }
  th {
    padding: 30px 24px 18px 24px;
  }
}

.user-table__row {
  position: relative;
}

.user-table__username {
  cursor: pointer;
}

.user-table__header {
  display: flex;
  align-items: center;
  gap: 8px;
  p {
    font-size: 12px;
    font-weight: 600;
    line-height: 14.08px;
    text-align: left;
    color: #545f7d;
  }

  img {
    cursor: pointer;
  }
}

td {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
  text-align: left;
  color: #545f7d;
  border-bottom: 1px solid #213f7d1a;
}

.user-table__status-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
  text-align: center;
  width: 90px;
  height: 30px;
  border-radius: 100px;
  opacity: 0.1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-table__status-text.inactive {
  color: #e4033b;
  background-color: #fce6eb;
}

.user-table__status-text.pending {
  color: #e9b200;
  background-color: #fdf7e5;
}

.user-table__status-text.active {
  color: #39cd62;
  background-color: #f3fcf6;
}

.user-table__status-text.blacklisted {
  color: #545f7d;
  background-color: #f5f5f7;
}

.user-table__moreaction {
  p {
    visibility: hidden;
  }
}

.user-table__actionbtn {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.user-table__menu {
  position: absolute;
  right: 30px;
  top: 35px;
  width: 180px;
  height: fit-content;
  border: 1px solid #545f7d0a;
  box-shadow: 3px 5px 20px 0px #0000000a;
  border-radius: 4px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  gap: 21px;
  padding: 16px;
  z-index: 10;
  button {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: white;
    border: none;
    gap: 8px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.42px;
    text-align: left;
    color: #545f7d;
    cursor: pointer;

    img {
      width: 14px;
      height: 14px;
    }
  }
}

@media screen and (max-width: 576px) {
  .user-table {
    width: 100%;

    th,
    td {
      text-align: left;
    }

    td {
      padding: 26px 0px 26px 12px;
      font-size: 13px;
    }

    th {
      padding: 30px 12px 18px 12px;
      font-size: 14px;
      img {
        display: none;
      }
    }

    th:nth-child(3),
    th:nth-child(4),
    th:nth-child(5),
    th:nth-child(6),
    td:nth-child(3),
    td:nth-child(4),
    td:nth-child(5),
    td:nth-child(7) {
      display: none;
    }

    th:not(:first-child) .user-table__header {
      justify-content: flex-start;
    }

    th:not(:first-child) .user-table__header img {
      display: none;
    }
  }

  .user-table__status-text {
    width: 62px;
    height: 27px;
    font-size: 11px;
  }

  .user-table__menu {
    display: none;
  }
}
