.login-template {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
  padding: 106px 97px 106px 0px;
}

.login-template__poster {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100dvh;
  background-color: #fafafa;
  padding-left: 67px;
}

.login-template__logo {
  width: 138.44px;
  height: 36px;
  position: absolute;
  top: 106px;
}

.login-template__img {
  width: fit-content;
  height: 337.57px;
}

.login-template__mobile-logo__container {
  display: none;
}

@media screen and (max-width: 576px) {
  .login-template {
    padding: 60px 20px;
    flex-direction: column;
    align-items: start;
    gap: 62px;
  }

  .login-template__mobile-logo__container {
    display: flex;
  }

  .login-template__mobilelogo {
    width: 173.76px;
    height: 36px;
  }

  .login-template__poster {
    display: none;
  }

  .login-template {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
