.header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px 20px 30px;
  z-index: 11;
  background-color: #ffffff;
  box-shadow: 3px 0px 20px 0px #0000000a;
}

.header__search-section {
  display: flex;
  align-items: center;
  gap: 130px;
}

.header-search {
  position: relative;
}

.header-search__input {
  width: 400px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #213f7d1a;
  padding: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
  text-align: left;
  color: #545f7d;
}

.header-search__input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
  text-align: left;
  color: #545f7d;
}

.header-search__input:focus {
  border-color: #39cdcc;
  outline: none;
}

.header-search__button {
  width: 56px;
  height: 40px;
  background-color: #39cdcc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  border: 0px;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
}

.header__user-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.header__user-docs {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  text-decoration: underline;
  margin-right: 16px;
  color: #213f7d;
  cursor: pointer;
}

.header__user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.header__user-img-notification {
  width: 48px;
  height: 48px;
}

.header__button {
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-toggle__button {
  display: none;
}

@media screen and (max-width: 576px) {
  .header {
    width: 100%;
    height: 80px;
  }

  .header-search__input {
    display: none;
  }

  .header__user-section {
    display: none;
  }

  .header__user-docs {
    display: none;
  }

  .header-search__button {
    display: none;
  }

  .header-toggle__button {
    display: flex;
    border: none;
    background-color: white;
  }
}
