.chart-container {
    padding-top: 80px;
    width: calc(100vw - 400px);
  }
  
  .chart-container-header {
    font-size: 16px;
    font-weight: 500;
    line-height: 28.15px;
    text-align: left;
    margin-bottom: 60px;
    color: #545f7d;
  }
  
  @media screen and (max-width: 576px) {
    .chart-container {
      width: calc(100vw - 40px);
      height: 600px; 
    }
  
    .chart-container canvas {
      height: 60% !important;
    }
  }
  